@import "../../assets/fonts/iconic/css/material-design-iconic-font.min.css";
th.mat-sort-header-sorted {
  color: black;
}
table {
  width: 100%;
}
.search-div{
  margin: 10px
}
.search-form-field{
  width: 60%;
  margin-left: 0;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 5px;
}
.search-form-field div.mat-form-field-underline{
  display: none;
}
.search-form-field div.mat-form-field-underline{
  display: none;
}
.search-form-field div.mat-form-field-infix{
  border-top: 0px;
}
.search-form-field div.mat-form-field-wrapper{
  padding-bottom: 0px;
}
.search-form-field div.mat-form-field-suffix button{
  height: 32px;
  width: 32px;
}
.mat-row:hover{
  background-color: #f5f5f5;
}
