@import "../../assets/fonts/iconic/css/material-design-iconic-font.min.css";
.el-element-overlay .el-card-item .el-card-avatar {
  margin-bottom: 0;
}.el-element-overlay .el-card-item {
   padding-bottom: 0
 }
#update:hover{
  color: #2198ad;
}
