<div class="limiter">
  <div class="container-login100" style="background-image: url('../../assets/images/bg-02.jpg');">
    <div class="wrap-login100" style="background: #1F262D">
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()" class="login100-form validate-form">
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>
        <span class="login100-form-title p-b-34 p-t-27">
						Reset Password
        </span>
        <div class="wrap-input100 validate-input" data-validate="Enter password">
          <input class="input100" type="password" placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          <span class="focus-input100" data-placeholder="&#xf191;"></span>
        </div>
        <div class="wrap-input100 validate-input" data-validate="Enter password">
          <input class="input100" type="password" placeholder="Password confirmation" formControlName="Confirmpassword" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          <span class="focus-input100" data-placeholder="&#xf191;"></span>
        </div>
        <div class="container-login100-form-btn">
          <button type="submit" class="login100-form-btn">
            Reset password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="dropDownSelect1"></div>
<!--===============================================================================================-->
<script src="../../assets/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="../../assets/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="../../assets/vendor/bootstrap/js/popper.js"></script>
<script src="../../assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="../../assets/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="../../assets/vendor/daterangepicker/moment.min.js"></script>
<script src="../../assets/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="../../assets/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="../../assets/js/main.js"></script>
